fastapi
uvicorn

websockets
langchain
langchain-community
ollama
apscheduler
redis
reportlab
pillow
requests
python-dotenv
slowapi
pydantic[email]
python-multipart
gunicorn


sqlalchemy
passlib[bcrypt]
pyotp
qrcode
